.intro .logo {
  width: 8.6rem;
  fill: var(--clr-primary);
  display: inline-block;
}

.intro {
  padding: 4rem 0;
}

.intro .right {
  text-align: center;
  padding-bottom: 1rem;
}

.intro .right p {
  margin-top: 1.9rem;
}

/* Counter Utility */
.counter {
  margin-top: 1.9rem;
}

.counter {
  color: var(--clr-light-gray)  ;
}

.counter::before,
.counter::after {
  display: inline-block;
  padding-right: 1rem;
  content: url("data:image/svg+xml,%3Csvg width='30' height='12' viewBox='0 0 30 18' fill='%23d3d3d3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.1395 0.941454C8.378 1.19651 8.378 1.61045 8.1395 1.8654L2.0842 8.3465H29.3895C29.7266 8.3465 30 8.63913 30 8.99993C30 9.36073 29.7266 9.65336 29.3895 9.65336H2.0843L8.1397 16.1346C8.378 16.3896 8.3781 16.8035 8.1396 17.0586C7.9012 17.3138 7.5146 17.3138 7.2762 17.0585L0.178801 9.4619C0.0596008 9.33438 0 9.1671 0 8.99993C0 8.83277 0.0595989 8.66549 0.1789 8.53796L7.2763 0.941454C7.5146 0.686182 7.9012 0.686182 8.1395 0.941454Z'/%3E%3C/svg%3E");
}
.counter::after {
  transform: rotate(180deg);
}

.intro img {
  width: 100%;
  margin: 0 auto;
}

.intro .image-placeholder {
  position: relative;
}

.intro .image-placeholder::before {
  content: '';
  width: 14.9%;
  background: var(--clr-light-red);
  position: absolute;
  top: 5.3%;
  left: 4.25%;
  bottom: 5.4%;
}
.intro .image-placeholder::after {
  content: '';
  width: 4.25%;
  background: var(--clr-light);
  position: absolute;
  top: calc(100% - (5.4% * 2));
  left: 14.9%;
  bottom: 5.4%;
  z-index: 4;
}

@media (min-width: 1280px) {
  .intro .logo {
    width: 8.6rem;
  }

  .intro {
    display: flex;
    flex-direction: row-reverse;
    gap: 7rem;
    padding: 8rem 0;
  }

  .intro .image-placeholder {
    width: clamp(25rem, 40%, 29.4rem);
    align-self: flex-end;
    flex-shrink: 0;
  }

  .intro .right {
    text-align: right;
    padding-bottom: 4.25rem;
  }

  .intro .right h2 {
    margin-top: 1.9rem;
  }
  .intro .right p {
    margin-top: 2.5rem;
  }
  .intro .right .counter {
    margin-top: 2.25rem;
  }
}

